<div class="container py-8 mx-auto">
  <%= render 'search_form', cities: @cities %>
  <!-- Event Cards -->
  <div class="mt-4 grid grid-cols-3 gap-4">
    <% @charitable_events.each do |event| %>
      <div>
        <img src="<%= event.img_url %>" alt="Event Image" class="object-cover w-full h-48 mb-4">
        <h2 class="mb-2 text-xl font-bold"><%= event.name %></h2>
        <p class="text-gray-600"><%= event.location %></p>
        <p class="text-gray-600">活動開始：<%= event.started_at&.strftime("%Y-%m-%d %H:%M") %></p>
        <p class="text-gray-600">活動結束：<%= event.ended_at&.strftime("%Y-%m-%d %H:%M") %></p>
        <p class="text-gray-600">報名截止：<%= event.registration_deadline&.strftime("%Y-%m-%d %H:%M") %></p>
        <div class="flex justify-between mt-4">
          <a href="<%= event.link %>" class="text-indigo-500 hover:text-indigo-600">Visit Website</a>
          <button class="text-indigo-500 hover:text-indigo-600" onclick="addToFavorites(<%= event.id %>)">Add to Favorites</button>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @charitable_events %>
</div>
